@using System.Globalization
@model FuzzySetsCalc.Models.ChartDisplaySettings

@{
    ViewData["Title"] = "Settings";
}

<h1>Edit</h1>

<h4>ChartDisplaySettings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Precision" class="control-label"></label>
                <input asp-for="Precision" value="@Model.Precision.ToString(CultureInfo.InvariantCulture)" class="form-control" />
                <span asp-validation-for="Precision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaximumX" class="control-label"></label>
                <input asp-for="MaximumX" class="form-control" />
                <span asp-validation-for="MaximumX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumX" class="control-label"></label>
                <input asp-for="MinimumX" class="form-control" />
                <span asp-validation-for="MinimumX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="FuzzySet" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
