@using System.Globalization
@model List<FuzzySet>

@inject ChartDisplaySettings DisplaySetings

<script src="~/js/RGraph/RGraph.common.core.js"></script>
<script src="~/js/RGraph/RGraph.line.js"></script>

<a asp-area="" asp-controller="FuzzySet" asp-action="Create">Create</a>
<br/>
<a asp-area="" asp-controller="FuzzySet" asp-action="Intersect">Intersect</a>
<br/>
<a asp-area="" asp-controller="FuzzySet" asp-action="Union">Union</a>
<br/>

@foreach (FuzzySet set in Model)
{
    
    var id = set.FuzzySetId;
    double x = DisplaySetings.MinimumX;
    var dataPoints = new List<DataPoint>();
    for (; x <= DisplaySetings.MaximumX; x+= DisplaySetings.Precision)
    {
        dataPoints.Add(new DataPoint(x, set?.MembershipFunction?.Invoke(x)));
    }
    <canvas id="@id" width="400" height="200"></canvas>
    <div>
        <a asp-area="" asp-controller="FuzzySet" asp-action="Delete" asp-route-id=@set.FuzzySetId>Remove @set.FuzzySetId</a>
    </div>

    <script>
        {
            var chart = new RGraph.Line({
                id: '@id',
                data: [ @string.Join(", ", dataPoints.Select(p => Convert.ToString(p.Y, new CultureInfo("en")))) ],
                options:
                {
                    title: '@set?.FuzzySetId',
                    yaxisLabelsCount: 1,
                    xaxisLabels: [ @Html.Raw($"'{dataPoints.First().X}', '{dataPoints.Last().X}'") ],
                    xaxisTickmarksCount: 20
                }
            });
            chart.draw();
        }
    </script>
}
